<div>
<center>
<%= link_to 'Расписание', schedules_path %>
<%= link_to '| Замены на сегодня | ', data2_index_path %>
<%= link_to ' Замены на завтра', data3_index_path %>
</center>
</div>
<% if user_signed_in? %>
<%= link_to 'Добавить замену', new_data3_path %>
<%end%>
<br/><center>Замены на завтра</center><br/>
