<div id="homeContent">
	<center>
		<div>
			<p>
				<input type="button" value="Показать новости" onclick="showNews()">
				<input type="button" value="Показать афишу" onclick="showBill()">
			</p>
		</div>
	</center>
	<div id="homeNews" style="display: inline-block;">
		<center>
		<table id="homeNewsBlock">
			<tr>
				<td id="homeTitleNews">News 1</td>
				<td id="homeTitleNews">News 2</td>
			</tr>

			<tr>
				<td>
					<iframe width="560" height="315" src="http://www.youtube.com/embed/3xzd_QwSH74" frameborder="0" allowfullscreen></iframe>
					<br/>
					Bla Bla Bla
					HyperText Markup Language (HTML) is the main markup language for displaying web pages and other information that can be displayed in a web browser.

					HTML is written in the form of HTML elements consisting of tags enclosed in angle brackets (like ), within the web page content. HTML tags most commonly come in pairs like  and , although some tags, known as empty elements, are unpaired, for example . The first tag in a pair is the start tag, the second tag is the end tag (they are also called opening tags and closing tags). In between these tags web designers can add text, tags, comments and other types of text-based content.

					The purpose of a web browser is to read HTML documents and compose them into visible or audible web pages. The browser does not display the HTML tags, but uses the tags to interpret the content of the page.

					HTML elements form the building blocks of all websites. HTML allows images and objects to be embedded and can be used to create interactive forms. It provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes and other items. It can embed scripts in languages such as JavaScript which affect the behavior of HTML webpages.

					Web browsers can also refer to Cascading Style Sheets (CSS) to define the appearance and layout of text and other material. The W3C, maintainer of both the HTML and the CSS standards, encourages the use of CSS over explicit presentational HTML markup.[1]
				</td>
				<td>
					Blu Blu Blu<br/>

					<iframe width="560" height="315" src="http://www.youtube.com/embed/3xzd_QwSH74" frameborder="0" allowfullscreen></iframe>
				</td>
			</tr>

			<tr>
				<td id="homeTitleNews">News 3</td>
				<td id="homeTitleNews">News 4</td>
			</tr>

			<tr>
				<td>Some new
					This page is intended to give further advice about specific CSS features that can be used instead of each such element or attribute.

					You should think about whether there is a semantic element that matches the intent of your use of a presentational element. If there is such an element, you should use it, and if it doesn't already have a default styling that you like, then you can use CSS from the tables below to make it look like you want. You may also have to reset any other properties that some elements have by default. If there is no appropriate semantic element for the purpose, then you should probably use div or span instead. 
				</td>
				<td>
					Some holidays etc...
				</td>
			</tr>
		</table>
		</center>
	</div>

	<div id="homeNewsShowbill"  style="display: none;">
		

		<center>
		<table id="homeNewsBlock">
			<tr>
				<td id="homeTitleNews">Showbill 1</td>
				<td id="homeTitleNews">Showbill 2</td>
			</tr>

			<tr>
				<td>
					Today we are going to college XD
					<br/>
					<iframe width="560" height="315" src="http://www.youtube.com/embed/3xzd_QwSH74" frameborder="0" allowfullscreen></iframe>
					<br/>
					Bla Bla Bla
					HyperText Markup Language (HTML) is the main markup language for displaying web pages and other information that can be displayed in a web browser.

					HTML is written in the form of HTML elements consisting of tags enclosed in angle brackets (like ), within the web page content. HTML tags most commonly come in pairs like  and , although some tags, known as empty elements, are unpaired, for example . The first tag in a pair is the start tag, the second tag is the end tag (they are also called opening tags and closing tags). In between these tags web designers can add text, tags, comments and other types of text-based content.

					The purpose of a web browser is to read HTML documents and compose them into visible or audible web pages. The browser does not display the HTML tags, but uses the tags to interpret the content of the page.

					HTML elements form the building blocks of all websites. HTML allows images and objects to be embedded and can be used to create interactive forms. It provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes and other items. It can embed scripts in languages such as JavaScript which affect the behavior of HTML webpages.

					Web browsers can also refer to Cascading Style Sheets (CSS) to define the appearance and layout of text and other material. The W3C, maintainer of both the HTML and the CSS standards, encourages the use of CSS over explicit presentational HTML markup.[1]
				</td>
				<td>
					Blu Blu Blu<br/>

					<iframe width="560" height="315" src="http://www.youtube.com/embed/3xzd_QwSH74" frameborder="0" allowfullscreen></iframe>
				</td>
			</tr>

			<tr>
				<td id="homeTitleNews">Showbill 3</td>
				<td id="homeTitleNews">Showbill 4</td>
			</tr>

			<tr>
				<td>Some new
					This page is intended to give further advice about specific CSS features that can be used instead of each such element or attribute.

					You should think about whether there is a semantic element that matches the intent of your use of a presentational element. If there is such an element, you should use it, and if it doesn't already have a default styling that you like, then you can use CSS from the tables below to make it look like you want. You may also have to reset any other properties that some elements have by default. If there is no appropriate semantic element for the purpose, then you should probably use div or span instead. 
				</td>
				<td>
					Some holidays etc...
				</td>
			</tr>
		</table>
		</center>
	</div>

	<div style="clear: both;"></div>
</div>

