<div id="HisContent" style="width: 990px; margin: 0px auto;">
<h1>ПРАВИЛА ПРИЕМА
в Харьковский компьютерно-технологический колледж Национального технического университета „Харьковский политехнический институт” в 2013 году</h1>
<p>Образовательная деятельность в Харьковском компьютерно-технологическом колледже Национального технического университета «Харьковский политехнический институт” осуществляется соответственно лицензии Министерства образования и науки, молодежи и спорта (серия АВ № 420498, дата получения 24.09.2008 г., срок действия лицензии до 01.07.2013 г.).</p>
<p>Правила приема разработаны Приемной комиссией Харьковского компьютерно-ехнологического колледжа Национального технического университета «Харьковский политехнический институт ” (далее – приемная комиссия) соответственно Условиям приема в высшие учебные заведения Украины в 2012 году, утвержденных приказом Министерства образования и науки, молодежи и спорта Украины от 05 ноября 2012 года № 1244 и зарегистрированных в Министерстве юстиции Украины 13 ноября 2012 года за № 1902/22214</p>
<h1>I. Общие положения</h1>
<p>
1.1. Высшее учебное заведение Харьковский компьютерно-технологический колледж Национального технического университета «Харьковский политехнический институт” объявляет прием на подготовку специалистов с высшим образованием по образовательно-квалификационным уровням, направлениям (специальностям) соответственно лицензии в пределах лицензированного объема (см. приложение 1).
</p>
<p>
1.2. В высшее учебное заведение Харьковский компьютерно-технологический колледж Национального технического университета «Харьковский политехнический институт” принимаются граждане Украины, иностранцы, а также лица без гражданства, которые проживают на территории Украины на законных основаниях, имеют соответствующий образовательный (образовательно-квалификационный) уровень и изъявили желание получить высшее образование. Иностранцы, и лица без гражданства, которые постоянно проживают в Украине, а также, которым предоставлен статус беженца в Украине, принимаются в высшие учебные заведения в порядке, предусмотренном для граждан Украины. Прием в высшее учебное заведение Харьковский компьютерно- технологический колледж Национального технического университета «Харьковский политехнический институт” на все образовательно-квалификационные уровни осуществляется по конкурсу независимо от источников финансирования.
</p>
<p>
1.3. Для поступающих, которые нуждаются в поселении в общежитие во время вступления, предоставляется 200 мест.<br/>
В общежитии созданы необходимые условия для проживания:
<ul>
<li>в каждой комнате предусмотрено проживание 4-х лиц;</li>
<li>работает изолятор для предупреждения распространения инфекций;</li>
<li>есть холодная и горячая вода, душ;</li>
<li>работает кухня, камера хранения;</li>
<li>есть комната для самоподготовки;</li>
<li>на каждом этаже созданы места общего пользования.</li>
</ul>
</p>
<h1>ІІ. Требования к уровню образования поступающих</h1>
<p>2.1. На обучение для получения образовательно-квалификационного уровня младшего специалиста с одновременным получением полного общего среднего образования принимаются лица с базовым общим средним образованием.</p>
<p>2.2. На обучение для получения образовательно-квалификационного уровня младшего специалиста принимаются лица с полным общим средним образованием на второй курс дневного отделения на вакантные места.</p>
<p>2.3. Высшее учебное заведение Харьковский компьютерно-технологический колледж Национального технического университета «Харьковский политехнический институт» принимает на второй курс (с нормативным сроком обучения на вакантные места) лиц, которые получили образовательно-квалификационный уровень квалифицированного рабочего при условии вступления на родственную специальность (см. приложение 2).</p>
<h1>ІІІ. Финансирование подготовки специалистов</h1>
<p>Финансирование подготовки специалистов в Харьковский компьютерно- технологический колледж Национального технического университета «Харьковский политехнический институт”  осуществляется:<br/> 
<ul>
<li>за счет расходов государственного бюджета - по государственному заказу;</li>
<li>за счет средств физических, юридических лиц.</li>
</ul>
</p>
<p>
Граждане Украины имеют право безвозмездно приобретать высшее образование в Харьковском компьютерно-технологическом колледже Национального технического университета «Харьковский политехнический институт» на конкурсной основе, если образовательно-квалификационный уровень младшего специалиста гражданин приобретает впервые.
</p>
<p>
Гражданин Украины имеет право безвозмездно приобретать высшее образование по второму направлению (специальности) в Харьковском компьютерно-технологическом колледже Национального технического университета «Харьковский политехнический институт», если он по состоянию здоровья потерял возможность выполнять служебные или должностные обязанности по полученной ранее квалификации, что подтверждается выводами медико-социальной экспертной комиссии.
</p>
<h1>IV. Сроки приема заявлений и документов, вступительных экзаменов, конкурсного отбора и зачисления на обучение</h1>
<p>4.1. Порядок работы приемной комиссии (дни недели и часы): </p>
<table>
<tr>
<td>понедельник</td>
<td>с 8.30 до 17.30</td>
</tr>
<tr>
<td>вторник</td>
<td>с 8.30 до 17.30</td>
</tr>
<tr>
<td>среда</td>
<td>с 8.30 до 17.30</td>
</tr>
<tr>
<td>четверг</td>
<td>с 8.30 до 17.30</td>
</tr>
<tr>
<td>пятница</td>
<td>с 8.30 до 17.30</td>
</tr>
<tr>
<td>суббота</td>
<td>с 8.30 до 14.00</td>
</tr>
<tr>
<td>воскресенье</td>
<td>с 8.30 до 14.00</td>
</tr>
</table>
<p>
4.2. Прием заявлений и документов, вступительные экзамены, конкурсный отбор и зачисление на обучение поступающим на основе базового и полного общего среднего образования проводится в такие сроки:
</p>
<p>
<center><img src="2.jpg"></center>
</p>
<p>
4.3. Прием заявлений и документов, профессиональные экзамены, который проводит Харьковский компьютерно-технологический  колледж  Национального технического университета «Харьковский политехнический институт», конкурсный отбор и зачисления на обучение поступающим на основе образовательно-квалификационного уровня квалифицированного рабочего проводится в такие сроки:
<ul>
<li>прием заявлений и документов   до 19 августа;</li>
<li>профессиональные экзамены    до 20 августа;</li>
<li>конкурсный отбор и зачисления    до 25 августа.</li>
</ul> 
</p>
<h1>V. Порядок приема заявлений и документов для вступления в высшее учебное заведение</h1>
<p>
5.1. Поступающие подают заявление об участии в конкурсном отборе в Харьковскоий компьютерно-технологический  колледж Национального технического университета «Харьковский политехнический институт» (далее - заявление) в бумажной или в электронной форме. Заявление в бумажной форме подается поступающим лично в приемную комиссию учебного заведения. Заявление обрабатывается соответственно требованиям Закона Украины «О защите персональных данных».
</p>
<p>
5.2. Поступающий может подать заявления и документы не больше чем в пять ВУЗов Украины и не больше чем на три специальности в каждом из них. В заявлении поступающие указывают специальность и форму обучения.
</p>
<p>
5.3. При представлении заявления в бумажной форме поступающий предъявляет лично:
</p>
<ul>
<li>
документ государственного образца о полученном ранее образовательном (образовательно-квалификационном) уровне, на основании которого осуществляется вступление, и приложение к нему;
</li>
<li>
сертификат (сертификаты) внешнего независимого оценивания (для поступающих на основе полного общего среднего образования);
</li>
<li>
медицинскую справку по форме 086-в;
</li>
<li>
документ, который удостоверяет личность и гражданство (паспорт гражданина Украины или паспорт гражданина Украины для выезда за границу), военный билет или приписное свидетельство, свидетельство о рождении - для лиц, которые по возрасту не имеют паспорта, или другой документ, который удостоверяет лицо и гражданство.
</li>
<li>
По требованию поступающего приемная комиссия удостоверяет копию документа государственного образца о раньше добытом образовательном (образовательно-квалификационный) уровень, на основе которого осуществляется вступление, и приложения к нему, сертификата (сертификатов) внешнего независимого оценивания.
</li>
</ul>
<p>
5.4. К заявлению, представленному в бумажной форме, поступающий прилагает: 
</p>
<ul>
<li>документ государственного образца о полученном ранее образовательном (образовательно-квалификационном) уровне, на основании которого осуществляется вступление, и приложение к нему, по личному выбору оригиналы или копии; </li>
<li>сертификат (сертификаты) внешнего независимого оценивания (для поступающих на основании полного общего среднего образования) по личному выбору оригиналы или копии;</li>
<li>копию документа, который удостоверяет личность и гражданство;</li>
<li>медицинскую справку по форме 086-в или ее копию; </li>
<li>шесть цветных фотографий размером 3х4 см.</li>
</ul>
<p>
Другие документы или их копии подаются поступающим, если это вызвано особыми условиями зачисления по соответствующим направлениям (специальностями), установленным законодательством, в сроки, определенные для приема документов, не позднее срока для принятия приемной комиссией первого решения о рекомендации поступающих к зачислению.
</p>
<p>5.5. Поступающие имеют право подавать сертификат внешнего независимого оценивания, выданный в 2012 году, или сертификаты или их дубликаты за 2008, или 2009, или 2010, или 2011 год.</p>
<p>
5.6. Все копии документов заверяются по оригиналам приемной комиссией высшего учебного заведения, в которое они подаются, или в установленном законодательством порядке. Копии документов без предъявления оригиналов не рассматриваются.
</p>
<p>
5.7. Лица с ограниченными физическими возможностями (инвалиды І и ІІ групп, дети инвалиды) подают документы, которые удостоверяют их право на сдачу вступительных экзаменов в Харьковском компьютерно-технологическом колледже Национального технического университета «Харьковский политехнический институт».
</p>
<p>
5.8. Лица, которые в 2012 году не принимали участие во внешнем независимом оценивании, подают документы, которые удостоверяют их право на сдачу только вступительных экзаменов в Харьковском компьютерно-технологическом колледже Национального технического университета «Харьковский политехнический институт»:
</p>
<ul>
<li>граждане Украины, уволенные со срочной военной службы в год вступления в высшее учебное заведение;</li>
<li>лица, которые имеют заболевания, указанные в перечне заболеваний, которые могут быть препятствием для прохождения гражданами внешнего независимого оценивания, установленном Министерством образования и науки, молодежи и спорта Украины и Министерством здравоохранения Украины, для которых Украинский центр оценивания качества образования не может обеспечить прохождение независимого внешнего оценивания учебных достижений.</li>
</ul>
<p>5.9. Лица, которые получили полное общее среднее образование в 2007 году и раньше, подают документы, которые подтверждают их право принимать участие в конкурсе по результатам внешнего независимого оценивания или по результатам вступительных экзаменов по конкурсным предметам в высшем учебном заведении по их выбору.</p>
<p>5.10. Граждане Украины, которые в 2012 году получили полное общее среднее образование за границей, подают документы, которые подтверждают их право принимать участие в конкурсе по результатам внешнего независимого оценивания или по результатам вступительных экзаменов по конкурсным предметам в высшем учебном заведении по их выбору.</p>
<p>5.11. Поступающий может подать заявление (заявления) в бумажном или в электронном виде не более чем в пять высших учебных заведений Украины и не более чем на три направления подготовки (на три специальности) об участии в конкурсном отборе в каждом из высших учебных заведений. Факт каждого представления заявления в бумажном виде (с указанием того, оригиналы или копии документов приложены к заявлению)  регистрируется уполномоченным лицом приемной комиссии в Единой базе непосредственно во время принятия заявления. Заявления, представленные поступающими в приемные комиссии в бумажном виде и зарегистрированные в Единой базе, обрабатываются приемными комиссиями.</p>
<p>5.12. Приемная комиссия осуществляет проверку достоверности данных, представленных поступающим для участия в конкурсном отборе, в Единой государственной электронной базе по вопросам образования.</p>
<p>5.13. Приемная комиссия рассматривает заявления и документы поступающих и принимает решение о допуске к участию в конкурсном отборе для вступления на обучение в высшее учебное заведение.</p>
<p>5.14. Факт ознакомления поступающего с правилами приема, имеющейся лицензией и сертификатом об аккредитации соответствующего направления (специальности), а также предоставление им согласия на обнародование результатов внешнего независимого оценивания (вступительных экзаменов), наличия оснований для вступления вне конкурса и на обработку его персональных данных в Единой государственной электронной базе по вопросам образования фиксируется в заявлении поступающего и подтверждается его личной подписью при представлении заявления в бумажной форме.</p>
<h1>VI. Вступительные экзамены и конкурсный отбор</h1>
<p>6.1. Приемная комиссия Харьковского компьютерно-технологического колледжа Национального технического университета «Харьковский политехнический институт» допускает к участию в конкурсном отборе для вступления на обучение поступающим на основе полного общего среднего образования (на вакантные места), которые подают сертификаты внешнего независимого оценивания (или их копии) из соответствующих общеобразовательных предметов, определенных Перечнем конкурсных предметов сертификатов внешнего независимого оценивания (вступительных экзаменов, творческих конкурсов (см. приложение 5) для получения образовательно-квалификационного уровня младшего специалиста - не ниже 124 баллов из конкурсных предметов.</p>
<p>Колледж допускает к участию в конкурсном отборе для вступления на обучение поступающему, который подает сертификат Украинского центра оценивания качества образования, количество баллов которого с одного из непрофильных общеобразовательных предметов ниже 124 баллов, при условии, если количество баллов из профильного общеобразовательного предмета, которая указанная в сертификате составляет не ниже 170 баллов.</p>
<p>6.2. Для конкурсного отбора лиц, которые на основе полного общего среднего образования вступают для получения образовательно-квалификационного уровня младшего специалиста конкурсный балл исчисляется путем добавления баллов сертификата из конкурсных предметов (вступительных экзаменов), среднего балла документа (приложения к документу) о полном общем среднем образовании и дополнительных баллов, предусмотренных Правилами приема в Харьковский компьютерно-технологический колледж Национального технического университета «Харьковский политехнический институт». Дополнительные баллы могут начисляться тем поступающим, которые закончили подготовительные курсы Харьковского компьютерно-технологического колледжа Национального технического университета «Харьковский политехнический институт» и призерам (лицам, награжденным дипломами I - III степеней) IV этапа Всеукраинских ученических олимпиад из базовых предметов и призерам (лицам, награжденным дипломами I - III степеней) III этапа Всеукраинских конкурсов - защит  научно-исследовательских работ учеников - членов Малой  академии  наук  Украины). При этом средний балл документа о полном общем среднем образовании исчисляется по 12-балльной шкале с округлением до десятых частей балла и переводится в 200-балльную шкалу по таблице соответствия, приведенной в приложении 4 к этим правилам. Оценки из документа о полном общем среднем образовании, которые выставлены по 5-балльной шкале, учитываются таким образом: “3” соответствует “6”, “4” соответствует “9”, “5” соответствует “12”. </p>
<p>6.3. Для конкурсного отбора лиц, которые на основании полного общего среднего образования вступают на обучение для получения образовательно-квалификационного уровня младшего специалиста, зачисляются баллы сертификата Украинского центра оценивания качества образования (результаты вступительных экзаменов) по двум предметам из перечня, который приведен в приложении 5. </p>
<p>6.4. Для конкурсного отбора лиц, которые на основании базового общего среднего образования вступают на обучение для получения образовательно-квалификационного уровня младшего специалиста, засчитываются результаты вступительных экзаменов по двум предметам из перечня, который приведен в приложении 5.</p>
<p>6.5. Для конкурсного отбора лиц, которые на основе базового общего среднего образования вступают для получения образовательно-квалификационного уровня  младшего специалиста, конкурсный балл исчисляется как сумма баллов результатов вступительных экзаменов, среднего балла документа о базовом общем среднем образовании и дополнительных баллов в предусмотренных этими правилами случаях. Средний балл документа о базовом среднем образовании исчисляется по 12-балльной шкале с округлением до десятых балла. Оценки из документа о базовом общем среднем образовании, которые выставлены за 5-балльной шкале, учитываются  таким образом: "3" соответствует "6", "4" соответствует "9", "5" соответствует "12". </p>
<p>6.6. Результаты вступительных экзаменов для поступающих, которые вступают на основании базового общего среднего образования, оцениваются по 12-балльной шкале.</p>
<p>6.7. Программы профессиональных экзаменов для вступления на основании полученного образовательно-квалификационного уровня  младшего специалиста разрабатываются и утверждаются Харьковским компьютерно-технологическим  колледжем Национального технического университета «Харьковский политехнический институт» не позднее чем за четыре месяца до начала приема документов.</p>
<p>6.8. Лица, которые без уважительных причин не явились на вступительные экзамены в определенное расписанием время, лица, знания которых были оценены баллами ниже установленного правилами приема минимального уровня, а также лица, которые забрали документы после даты окончания приема документов, к участию в следующих вступительных экзаменах и в конкурсном отборе не допускаются.</p>
<p>Пересдача вступительных экзаменов не допускается.</p>
<p>6.9. Апелляции на результаты вступительных экзаменов, которые проведены Харьковским компьютерно-технологическом колледжем Национального технического университета «Харьковский политехнический институт» рассматривает апелляционная комиссия колледжа, состав и порядок работы которой утверждаются приказом директора.</p>
<p>6.9.1  Для обеспечения объективного оценивания вступительных экзаменов составить апелляционную комиссию по таким предметам:</p>
<ul>
<li>математика;</li>
<li>украинский язык.</li>
</ul>
<p>6.9.2 Численность и состав апелляционной комиссии утверждается приказом ректора Национального технического университета «Харьковский политехнический институт» не позднее чем за 4 месяца к началу приема документов.</p>
<p>6.9.3 Результаты вступительных экзаменов могут быть обжалованы поступающими, их родителями или лицами, которые их заменяют.</p>
<p>6.9.4  Обжалование процедуры проведения и объективности оценивания результатов вступительных экзаменов могут подаваться в течение трех рабочих дней после объявления результатов вступительных экзаменов.</p>
<p>6.9.5  Повторные вступительные экзамены апелляционными комиссиями не проводятся.</p>
<p>6.9.6  Результат рассмотрения апелляции оформляется протоколом, где выставляется обоснованная оценка (балл).</p>
<p>6.9.7  Решение апелляционной комиссии является окончательным.</p>
<p>6.10.  Для лиц, которые не аттестованы по украинскому языку и литературе, приемная комиссия при условии наличия педагогических и научно-педагогических кадров может назначать вступительный экзамен по русскому языку, оценки по которому выставлены в документе об образовательном (образовательно-квалификационном) уровне.</p>
<p>Результат экзамена оценивается по шкале от 100 до 200 баллов и учитывается вместо балла сертификата из украинского языка и литературы.</p>
<h1>VII. Зачисление по собеседованию</h1>
<p>7.1. По результатам собеседования зачисляются в Харьковский компьютерно-технологический колледж Национального технического университета «Харьковский политехнический институт» лица, которым Законом Украины «О статусе и социальной защите граждан, которые пострадали вследствие Чернобыльской катастрофы» предоставлено такое право.</p>
<p>7.2. Программу собеседования с указанными категориями лиц утверждает глава приемной комиссии.</p>
<p>7.3. Лица, которые по результатам собеседования не рекомендованы к зачислению на обучение и которые подали сертификаты внешнего независимого оценивания по конкурсным предметам с результатами, не ниже предусмотренных правилами приема, имеют право принимать участие в конкурсе на общих началах.</p>
<h1>VIII. Зачисление поступающих на основе базового и полного общего среднего образования, которые достигли выдающихся успехов в изучении профильных предметов</h1>
<p>8.1. Зачисляются в Харьковский компьютерно-технологический колледж Национального технического университета «Харьковский политехнический институт» соответственно разделу XІ этих правил при условии представления сертификата (сертификатов) внешнего независимого оценивания с количеством баллов не ниже минимального уровня для допуска к участию в конкурсном отборе участники международных олимпиад при условии, если они вступают на направления, для которых профильным является вступительный экзамен по предмету, по которому они принимали участие в международной олимпиаде.</p>
<p>8.2. Призерам (лицам, награжденным дипломами I - III степеней) IV этапа Всеукраинских ученических олимпиад по базовым предметам и призерам (лицам, награжденным дипломами I - III степеней) III этапа Всеукраинских конкурсов - защит научно-исследовательских работ учеников - членов Малой  академии наук Украины к конкурсному баллу при вступлении на основе полного общего среднего образования засчитывается дополнительный балл при условии, если они вступают на направления, для которых профильным является вступительный экзамен по предмету, по которому они являются призерами, в том числе:</p>
<ul>
<li>информатика – при вступлении на специальность 5.05010301 «Разработка программного обеспечения», 5.0501010 «Обслуживания программных  систем и комплексов”;</li>
<li>математика – при вступлении на специальность 5.05050202 «Обслуживание станков с программным управлением и работотехнических комплексов», 5.05050303 «Производство станков с программным управлением и роботов»,, 5.05050305 «Производство гидравлических и пневматических средств автоматизации», 5.14010201 «Обслуживание и ремонт электробытовой техники»</li>
</ul>
<p>8.3. Величина дополнительного балла устанавливается:</p>
<ul>
<li>лицам,  награжденным дипломами  I степени  - 50 баллов;</li>
<li>лицам,  награжденным дипломами  IІ степени - 40 баллов;</li>
<li>лицам, награжденным дипломами  IІІ степени - 30 баллов.</li>
</ul>
<p>Дополнительный балл зачисляется только на одном из перечисленных выше оснований.</p>
<p>8.4. Норма, определенная пунктами 8.1, 8.2 этого раздела, распространяется на участников международных олимпиад, призеров IV этапа Всеукраинских ученических олимпиад и призеров ІІІ этапа Всеукраинских конкурсов - защит научно-исследовательских работ учеников-членов Малой академии наук Украины, которые состоялись в текущем учебном году, по перечню, определенным приказом Министерства образования и науки, молодежи и спорта Украины. </p>
<p>8.5. Лицам из числа профессионально ориентированной молодежи, которые в год вступления успешно закончили подготовительные курсы Харьковский компьютерно-технологический колледж Национального технического университета «Харьковский политехнический институт», при вступлении на соответствующее направление (специальность) колледжа добавляется до 2 баллов - при вступлении на основе базового среднего образования по результатам итоговой аттестации, таким образом:</p>
<p>
<center><img src="3.jpg"></center>
</p>
<p>8.6. Норма, определенная пунктом 8.5 этого раздела, распространяется на подготовительные курсы колледжа, который имеет лицензию на осуществление подготовки к вступлению в высшие учебные заведения, объем учебных часов которых составляет не менее 200 аудиторных часов и срок обучения - не менее семи месяцев.</p>
<p>8.7. Количество дополнительных баллов, определенных пунктом 8.5 этого раздела и начисленных лицам по результатам обучения, обнародуется приемной комиссией учебного заведения к началу приема заявлений о допуске к участию в конкурсе. </p>
<h1>IX. Зачисление вне конкурса </h1>
<p>9.1. Зачисляются вне конкурса:</p>
<ul>
<li>лица, которым соответственно Закону Украины «О статусе ветеранов войны, гарантии их социальной защиты» предоставленное такое право;</li>
<li>дети-сироты и дети, лишенные родительской заботы, а также лица из их числа возрастом от 18 до 23 лет соответственно постановлению Кабинета Министров Украины от 05.04.94 № 226 «Об улучшении воспитания, обучения, социальной защиты и материального обеспечения детей-сирот и детей, лишенных родительской заботы» (с изменениями);</li>
<li>инвалиды I и II групп и дети-инвалиды возрастом до 18 лет, которым не противопоказано обучение по выбранному направлению (специальности), соответственно Закону Украины «Об основах социальной защищенности инвалидов в Украине»</li>
<li>лица, которым соответственно Закону Украины «О статусе и социальной защите граждан, которые пострадали вследствие Чернобыльской катастрофы» предоставлено такое право;</li>
<li>лица, которым соответственно Закону Украины «О повышении престижности шахтерской работы» предоставлено такое право;</li>
<li>дети, чьи родители погибли или стали инвалидами на угледобывающих предприятиях, при вступлении на обучение по горным специальностям соответственно Указу Президента Украины от 19.05.99 № 524 «О государственной помощи детям, которые учатся на горных специальностях и чьи родители погибли или стали инвалидами на угледобывающих предприятиях»;</li>
<li>дети военнослужащих Вооруженных Сил Украины, других военных формирований, работников правоохранительных органов, которые погибли при исполнении служебных обязанностей, соответственно Указу Президента Украины от 21.02.2002 № 157 «О дополнительных мерах относительно усиления заботы о защитниках Отчизны, их правовой и социальной защиты, улучшение военно-патриотического воспитания молодежи»;</li>
<li>члены семей шахтеров и горноспасателей, которые погибли вследствие аварии на арендном предприятии «Шахта имени О. Ф. Засядько» соответственно постановлению Кабинета Министров Украины от 09.01.2008 № 6 «Некоторые вопросы социальной защиты членов семей погибших шахтеров и горноспасателей». </li>
</ul>
<p>9.2. Количество мест для лиц, определенных в пункте 9.1 этого раздела, устанавливается приемной комиссией колледжа по согласованию с Министерством образования и науки, молодежи и спорта и не должна быть больше 25 процентов объема государственного заказа по каждому направлению (специальности) доказанного высшему учебному заведению, но не меньше одного места. Зачисления происходит по конкурсу соответственно конкурсному баллу поступающего.</p>
<h1>X. Право на первоочередное зачисление</h1>
<p>10.1. Право на первоочередное зачисление в высшие учебные заведения имеют: </p>
<ul>
<li>лица, которым соответственно Закону Украины “Об охране детства” предоставлено такое право;</li>
<li>лица, которым соответственно Закону Украины “О социальной и правовой защите военнослужащих и членов их семей” предоставлено такое право при вступлении в высшие военные учебные заведения и военные учебные подразделения высших учебных заведений; </li>
<li>лица, которым соответственно Закону Украины “Об основах социальной защищенности инвалидов в Украине” предоставлено такое право; </li>
<li>лица, которым соответственно Указу Президента Украины от 21 февраля 2002 года № 157 “О дополнительных мерах относительно усиления заботы о защитниках Отчизны, их правовой и социальной защиты, улучшение военно-патриотичного воспитания молодежи” предоставлено такое право;</li>
<li>лица, которым соответственно Указу Президента Украины от 12 сентября 2007 года  № 849 “О решении Совета национальной безопасности и обороны Украины от 04 сентября 2007 года “Об основных направлениях финансового обеспечения мероприятий по повышению жизненного уровня населения в 2008 году” предоставлено такое право;</li>
<li>выпускники старшей школы (полное общее среднее образование), награжденные золотой или серебряной медалью, при вступлении на основании полного общего среднего образования; </li>
<li>выпускники основной школы, которые имеют свидетельство о базовом общем среднем образовании с отличием (при вступлении на обучение на основе базового общего среднего образования);</li>
<li>поступающие, которым это право определено правилами приема в высшее учебное заведение.</li>
</ul>
<h1>
XI. Формирование и обнародование рейтингового списка поступающих 
</h1>
<p>11.1. Рейтинговый список поступающих формируется по категориям в такой последовательности:</p>
<ul>
<li>поступающие, которые имеют право на зачисление вне конкурса;</li>
<li>поступающие, рекомендованные к зачислению по результатам собеседования;</li>
<li>участники международных олимпиад;</li>
<li>поступающие, которые зачисляются по конкурсу.</li>
</ul>
<h1>11.2. В пределах каждой указанной в пункте 12.1 этого раздела категории рейтинговый список упорядочивается:</p>
<ul>
<li>по конкурсному баллу от большего к меньшему;</li>
<li>с учетом права на первоочередное зачисление при одинаковом конкурсном балле в порядке соблюдения оснований для его обретения.</li>
</ul>
<p>11.3. В рейтинговом списке отмечаются:</p>
<ul>
<li>фамилия, имя и отчество поступающего;</li>
<li>конкурсный балл поступающего;</li>
<li>наличие оснований для вступления вне конкурса;</li>
<li>наличие оснований для вступления по результатам собеседования с отметкой о результатах собеседования;</li>
<li>наличие права на первоочередное зачисление.</li>
</ul>
<p>11.4. Рейтинговые списки поступающих формируются приемной комиссией в Единой базе и обнародуются путем размещения на информационных стендах приемных комиссий (в пределах лицензированного объема) и веб-сайтах высших учебных заведений (всех поступающих) с указанием категорий списка. Эти списки обновляют при внесении изменений на протяжении срока проведения этапов конкурсного отбора.</p>
<h1>XII. Предоставление рекомендаций для зачисления</h1>
<p>12.1. Приемная комиссия принимает решение относительно рекомендаций к зачислению на обучение на места государственного заказа поступающих, которые находятся на наиболее высоких позициях рейтингового списка. Формирование списков рекомендованных к зачислению поступающих осуществляется приемной комиссией в Единой базе в пределах объема государственного заказа, а при его отсутствии - в пределах лицензионного объема. Рекомендации к зачислению поступающих на обучение за счет средств физических (юридических) лиц предоставляются после завершения зачисления поступающих на места государственного заказа.</p>
<p>12.2. Приемная комиссия принимает решение о рекомендации к зачислению на обучение на места государственного заказа в три этапа: в первый, пятый и восьмой дни после последнего дня вступительных экзаменов.</p>
<p>12.3. Решение приемной комиссии о рекомендации к зачислению обнародуется в день его принятия не позднее 12 часов.</p>
<p>12.4. Официальным сообщением о предоставлении рекомендаций к зачислению считается обнародование соответствующего решения на стендах приемных комиссий высших учебных заведений.</p>
<p>Решение приемной комиссии о рекомендации к зачислению также размещается на веб-сайте высшего учебного заведения. </p>
<p>Рекомендованным к зачислению поступающим могут присылаться сообщения средствами электронной и мобильной связи соответственно правилам приема в высшее учебное заведение.</p>
<h1>XIII. Реализация права поступающих на выбор места обучения </h1>
<p>13.1. Лица, которые подали заявления в бумажной форме и принимают участие в конкурсном отборе, в течение количества дней, определенной пунктами 14.1, 14.2 раздела XІ этих правил, после принятия решения о рекомендации к зачислению обязаны выполнить требования для зачисления на места государственного заказа: подать лично оригиналы документа об образовательном (образовательно-квалификационном) уровне и приложения к нему, медицинской справки, сертификатов внешнего независимого оценивания и других документов, предусмотренных правилами приема, в приемную комиссию  Харьковского компьютерно-технологического колледжа Национального технического университета «Харьковский политехнический институт».</p>
<p>13.2. При вступлении поступающего для одновременного обучения по двум образовательно-профессиональным программам по направлениям или специальностями (в одном или разных высших учебных заведениях на разных формах обучения) оригиналы документа об образовательном (образовательно-квалификационном) уровне, приложения к нему государственного образца, а также оригиналы сертификатов внешнего независимого оценивания сохраняются в высшем учебном заведении по месту обучения по государственному заказу. При одновременном обучении по двум образовательно-профессиональным программам по направлениям или специальностям по месту обучения за счет средств физических, юридических лиц сохраняются заверенные копии документа об образовательном (образовательно-квалификационном) уровне государственного образца и приложения к нему, копии сертификатов внешнего независимого оценивания. Указанные копии документов сохраняются в высшем учебном заведении на протяжении срока обучения вместе с оригиналом справки высшего учебного заведения, в котором сохраняются оригиналы документов. Справка выдается по требованию студента высшим учебным заведением, в котором сохраняются оригиналы вышеупомянутых документов.</p>
<p>13.3. Лица, которые в установленный срок не подали в приемную  комиссию оригиналы документа об образовательном (образовательно-квалификационном) уровне и приложения к нему, медицинской справки, сертификатов внешнего независимого оценивания и других документов, предусмотренных этими Правилами приема в Харьковский компьютерно-технологического колледж Национального технического университета «Харьковский политехнический институт» (не выполнили требований для зачисления), теряют право зачисления на обучение по государственному заказу.</p>
<h1>XIV. Корректирование списка рекомендованных к зачислению </h1>
<p>14.1. После завершения первого установленного срока выбора поступающими места обучения (четыре календарных дня после обнародования первого списка рекомендованных к зачислению) Приемная комиссия высшего учебного заведения:</p>
<ul>
<li>осуществляет корректирование списка лиц, рекомендованных для зачисления, с одновременным внесением соответствующих сведений к Единой базе;</li>
<li>принимает решение о зачислении поступающих, которые были рекомендованы и выполнили требования для зачисления (подали оригиналы документа об образовательном (образовательно-квалификационный) уровень и приложения к нему, медицинской справки, сертификатов внешнего независимого оценивания и других документов, предусмотренных этими Условиями и правилами приема в высшие учебные заведения, в приемную (отборочную) комиссию высшего учебного заведения);</li>
<li>аннулирует предоставленные прежде рекомендации поступающим, которые не выполнили требований для зачисления (не подали оригиналы документа об образовательном (образовательно-квалификационный) уровень и приложения к нему, медицинской справки, сертификатов внешнего независимого оценивания и других документов, предусмотренных этими Условиями и правилами приема в высшие учебные заведения, в приемную (отборочную) комиссию высшего учебного заведения);</li>
<li>в случае наличия вакантных мест предоставляет рекомендации к зачислению лицам из числа поступающих, которые не получали рекомендацию ранее, соответственно рейтинговым спискам по каждому направлению подготовки (специальности).</li>
</ul>
<p>14.2. После обнародования второго (5 августа) и третьего (8 августа) списков поступающих, рекомендованных к зачислению, устанавливается по три дня для выполнения поступающими требований для зачисления. Поступающие, которые до 10 августа включительно не подали в приемную (отборочную) комиссию оригиналы документа об образовательном (образовательно-квалификационном) уровне и приложения к нему, медицинской справки, сертификатов внешнего независимого оценивания и других документов, предусмотренных правилами приема, теряют право зачисления на обучение по государственному заказу.</p>
<p>14.3. После выполнения поступающими всех требований для зачисления на обучение по государственному заказу в определенных объемах формируются списки рекомендованных для зачисления на обучение за средства юридических и физических лиц.</p>
<p>Поступающие, у которых была аннулирована рекомендация для зачисления на места государственного заказа, могут быть рекомендованы для зачисления на обучение за счет средств юридических и физических лиц.</p>
<p>Сроки выполнения условий для зачисления за средства юридических и физических лиц устанавливаются приемной комиссией Харьковского компьютерно-технологического колледжа Национального технического университета «Харьковский политехнический институт», но не позднее 25 августа.</p>
<p>14.4. Обнародование списков рекомендованных для зачисления осуществляется соответственно разделу XII  этих правил.</p>
<h1>ХV. Приказ о зачислении </h1>
<p>15.1. Приказы о зачислении на обучение выдаются руководителем высшего учебного заведения на основании решения приемной комиссии. Приказы о зачислении на обучение с приложениями к ним формируются приемной комиссией в Единой базе соответственно рейтинговому списку поступающих, списков поступающих, рекомендованных для зачисления по формам, утвержденным приказом Министерства образования и науки, молодежи и спорта Украины от 29 марта 2012 года № 384, зарегистрированным в Министерстве юстиции Украины 03 мая 2012 года за № 711/21024, и обнародуются на информационном стенде приемной комиссии и веб-сайте высшего учебного заведения в виде списка зачисленных.</p>
<p>15.2. Приказы о зачислении на обучение присылаются в Министерство образования и науки, молодежи и спорта Украины.</p>
<p>15.3. Решение приемной комиссии о зачислении поступающего может быть упразднено приемной комиссией лишь по письменному заявлению поступающего или в случае выявления нарушений законодательства со стороны поступающего, предусмотренных пунктом 17.4 раздела XVII этих Правил. </p>
<p>Вопрос об отчислении поступающего по собственному желанию и возвращение ему оригиналов документов рассматривается в день представления поступающим письменного заявления.</p>
<h1>XVI. Дополнительное зачисление в Харьковский компьютерно-технологический колледж Национального технического университета «Харьковский политехнический институт» и хранение работ поступающих </h1>
<p>16.1. Лица, которые без уважительных причин не приступили к занятиям на протяжении 10 дней со дня их начала, отчисляются из Харьковского компьютерно-технологического колледжа Национального технического университета «Харьковский политехнический институт». На освобожденные при этом места может проводиться дополнительное зачисление по конкурсу лиц, которые подали сертификаты внешнего независимого оценивания (успешно сдали вступительные экзамены, которые проводит колледж) в это или другое высшее учебное заведение и не прошли по конкурсу на обучение.</p>
<p>16.2. Работы поступающих (в т.ч. листы подготовки к устному ответу, листки собеседования), выполненные ими на вступительных экзаменах, профессиональных экзаменах, собеседованиях, которые не приняты на обучение, сохраняются на протяжении одного года, потом уничтожаются, о чем составляется акт. Если такой поступающий рекомендован к зачислению в другое учебное заведение по результатам текущих вступительных экзаменов, то его вступительные работы присылаются в это высшее учебное заведение по соответствующему запросу.</p>
<h1>XVII. Обеспечение открытости и прозрачности при проведении приема в высшие учебные заведения </h1>
<p>17.1. На заседании приемной комиссии имеют право присутствовать представители средств массовой информации не более двух человек от одного СМИ. </p>
<p>Целью аккредитации представителей средств массовой информации (далее - СМИ) является обеспечение прав журналистов и прав граждан на получение информации, всестороннего, полного, оперативного и свободного распространения достоверной информации о деятельности приемной комиссии компьютерно-технологического колледжа Национального технического университета "ХПИ", создание благоприятных условий для осуществления профессиональной деятельности аккредитованных журналистов как лиц, которые исполняют гражданский долг и обеспечивают право граждан на информацию. </p>
<p>Право на аккредитацию имеют зарегистрированные соответственно действующему законодательству Украины СМИ независимо от форм собственности и состава основателей, а также зарубежные СМИ, аккредитованные при Министерстве иностранных дел Украины. </p>
<p>Заявка на аккредитацию подается в приемную комиссию компьютерно-технологического колледжа Национального технического университета "ХПИ" до 10 июня 2012 года на официальном бланке редакции СМИ и заверяется подписью главного редактора и печатью СМИ. Вместе с заявкой представляется копия свидетельства о государственной регистрации СМИ (для печатных СМИ) и копия лицензии на вещание (для электронных СМИ). </p>
<p>Заявка на аккредитацию должна содержать такие сведения: </p>
<ul>
<li>полное наименование СМИ; </li>
<li>его основателей (соучредителей) или издателя (издателей); </li>
<li>тираж, периодичность (для электронных СМИ - канал и регион вещания); </li>
<li>юридический и фактический адрес редакции СМИ, регион распространения, почтовый адрес (в том числе индекс); </li>
<li>фамилия, имя, отчество главного редактора (директора) СМИ, номера его рабочих телефонов и факсов; </li>
<li>номера рабочих телефонов и факсов редакции, электронный адрес; </li>
<li>фамилия, имя, отчество журналиста, который рекомендуется на аккредитацию (полностью), его год рождения, должность, рабочий телефон, мобильный телефон (по желанию); фамилия, имя, отчество технического специалиста, его должность, рабочий телефон. </li>
</ul>
<p>Заявка на аккредитацию принимается в оригинале. Заявка на аккредитацию, которая не содержит указанных выше сведений, к рассмотрению не принимается. </p>
<p>17.2. Глава приемной комиссии, как правило, объявляет о заседании комиссии не позднее дня, который предшествует дню заседания. В особых случаях - не позднее, чем за три часа до начала заседания. Объявления вместе с проектом повестки дня заседания обнародуются.</p>
<p>17.3. Предоставление поступающим недостоверных персональных данных, недостоверных сведений о наличии права на зачисление вне конкурса, права на первоочередное зачисление, права на зачисление по собеседованию, о полученном ранее образовании, об участии в олимпиадах и конкурсах Малой академии наук Украины, о прохождении внешнего независимого оценивания, является основанием для отчисления студента.</p>
<p>17.4. Информирование общественности о представлении заявлений на вступление в высшие учебные заведения І-IV уровней аккредитации осуществляется по данным Единой государственной электронной базы по вопросам образования информационной системой «Конкурс». 
</p>
<p>
<a href="1.zip">Приложение 1</a><br/>
<a href="2.zip">Приложение 2</a><br/>
<a href="5.zip">Приложение 5</a><br/>
<a href="6.zip">Приложение 6</a><br/>
<a href="7.zip">Приложение 7</a>
</p>
</div>