<div id="HisContent">
<h1>Правила прийому до Харківського комп´ютерно - технологічного коледжу Національного технічного університету „Харківський політехнічний інститут ” у 2013 році</h1>
<p>Провадження освітньої діяльності у Харківському комп´ютерно - технологічному коледжі Національного технічного університету „Харківський політехнічний інститут ” здійснюється відповідно до ліцензії Міністерства освіти і науки, молоді та спорту (серія АВ № 420498, дата отримання 24.09.2008 р., термін дії ліцензії до 01.07.2013 р.).

Правила прийому розроблені Приймальною комісією Харківського комп´ютерно -технологічного коледжу Національного технічного університету „Харківський політехнічний інститут ” (далі – приймальна комісія) відповідно до Умов прийому до вищих навчальних закладів України в 2012 році, затверджених наказом Міністерства освіти і науки, молоді та спорту України від 05 листопада 2012 року № 1244 та зареєстрованих у Міністерстві юстиції України 13 листопада 2012 року за №  1902/22214</p>
<h1>І. Загальні положення</h1>
<p>
1.1. Вищий навчальний заклад Харківський комп´ютерно - технологічний коледж Національного технічного університету „Харківський політехнічний інститут ” оголошує прийом на підготовку фахівців з вищою освітою за освітньо-кваліфікаційними рівнями, напрямами (спеціальностями) відповідно до ліцензії в межах ліцензованого обсягу (див. додаток 1).
</p>
<p>
1.2. До вищого навчального закладу Харківський комп´ютерно - технологічний коледж Національного технічного університету „Харківський політехнічний інститут ” приймаються громадяни України, іноземці, а також особи без громадянства, які проживають на території України на законних підставах, мають відповідний освітній (освітньо-кваліфікаційний) рівень та виявили бажання здобути вищу освіту. Іноземці, та особи без громадянства, які постійно проживають в Україні, а також, яким надано статус біженця в Україні, приймаються до вищих навчальних закладів у порядку, передбаченому для громадян України. Прийом до вищого навчального закладу Харківський комп´ютерно - технологічний коледж Національного технічного університету „Харківський політехнічний інститут ” на всі освітньо-кваліфікаційні рівні здійснюється за конкурсом незалежно від джерел фінансування.
</p>
<p>
1.3. Для вступників, які потребують поселення в гуртожиток під час вступу, надається 200 місць.<br/>
У гуртожитку створені необхідні умови для проживання:
<ul>
<li>у кожній кімнаті передбачено проживання 4-х осіб;</li>
<li>працює ізолятор для попередження розповсюдження інфекцій;</li>
<li>є холодна і гаряча вода, душ;</li>
<li>працює кухня, камера схову;</li>
<li>є кімната для самопідготовки;</li>
<li>на кожному поверсі створені місця загального користування.</li>
</ul>
</p>
<h1>ІІ. Вимоги до рівня освіти вступників</h1>
<p>2.1. На навчання для здобуття освітньо-кваліфікаційного рівня молодшого спеціаліста з одночасним здобуттям повної загальної середньої освіти приймаються особи з базовою загальною середньою освітою.</p>
<p>2.2. На навчання для здобуття освітньо-кваліфікаційного рівня молодшого спеціаліста приймаються особи з повною загальною середньою освітою на другий курс денного відділення на вакантні місця.</p>
<p>2.3. Вищий навчальний заклад Харківський комп´ютерно - технологічний коледж Національного технічного університету „Харківський політехнічний інститут ” приймає на другий курс (з нормативним терміном навчання на вакантні місця) осіб, які здобули освітньо-кваліфікаційний рівень кваліфікованого робітника за умови вступу на споріднену спеціальність</p>
<h1>ІІІ. Фінансування підготовки фахівців</h1>
<p>3.1. Фінансування підготовки фахівців у Харківський комп´ютерно - технологічний коледжі Національного технічного університету „Харківський політехнічний інститут ”  здійснюється: 
за рахунок видатків державного бюджету - за державним замовленням;
за рахунок коштів фізичних, юридичних осіб.</p>
</div>