<div>
<center>
<%= link_to 'Расписание', schedules_path %>
<%= link_to '| Замены на сегодня | ', data2_index_path %>
<%= link_to ' Замены на завтра', data3_index_path %>
</center>
</div>
<% if user_signed_in? %>
<%= link_to 'Добавить замену', new_data2_path %>
<%end%>
<br/><center>Замены на сегодня</center><br/>


<table border="1">
<tr>
<td>Понедельник</td>
<td>1 пара</td>
<td>2 пара</td>
<td>3 пара</td>
<td>4 пара</td>
</tr>

<tr>
<td>РПЗ-221</td>
<td>Удалить<br/>Предмет<br/>Преподователь<br/>12</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>ВВ-212</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>ПТ-111</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>ПТ-112</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>ВВ-123</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>