<div style="text-align: right;">


<% if user_signed_in? %>
	<%= link_to "Создать альбом", new_album_path %>	
<% else %>
	Для того чтобы создать альбом вам необходимо зайти на сайт
<%end%>


</div>

 
 
<% @albums.each do |albums| %>
  	<h1><center><td><%= link_to albums.title, albums %></td></center></h1>

  	<span style="float: right;">
  	<% if current_user.id==albums.user_id %> 
    <%= link_to 'Edit', new_photo_path(:album_id => albums.id) %>
    <%= link_to 'Destroy', "#", :confirm => 'Are you sure?',
                                     :method => :delete %>
    <%end%>
    </span>
	<div id="photogaleleryIW">
		<img src="" id="photogaleleryI" />
	</div>
<% end %>