<center><h1><%= @albums.title %></h1></center>
<% @albums.photos.each do |photos| %>

  	<span style="float: right;">
  	<% if user_signed_in? %>
    <% if current_user.id==@albums.user_id %> 
    <%= link_to 'Удалить', { :action => :destroy, :controller=>"photos", 
    	:id => photos.id }, :method => :delete, :confirm => 'Вы уверены?' %>
    <%end%>
    <%end%>
    </span>
	


  <div id="photogaleleryIW">
    <%if photos.picture_file_size != nil%> <%= image_tag photos.picture %> <%end%>
	</div>

  <center><%= link_to photos.description, photos %></center>

<% end %>