<table  width='90%' cellspacing='3' style='word-wrap: break-word;'>
<% @feedbacks.each do |t| %>
  <tr bgcolor="  
  <%if t.served %>
   bbcaef
  <% else %>
  aacdff
  <%end%>
  ">
  <td>
  Написал: <%=t.name_surname%>, Адрес: <%=t.email%>   
    <center><%=t.message%>
    <%if !t.served %>
      <br>
      <%= button_to "Отметить как прочитанное",:action=>:served,:id=>t.id%>
    <%end%>
    </center>
  </td>
  </tr>
<% end %>
</table>