<% @a=1 %>
<table border='0' width=100% cellspacing='0'>
<% @roles.each do |t| %>
<% @a=@a+1%> 
<tr bgcolor="
  
  <%if @a%2 != 0 %>
   bbcaef
  <% else %>
  aacdff
  <%end%>
  ">
  <td>
  <%=t.name%>
  </td>
  <td>
  <%=t.information%>
  </td>
  <td>
  <% if t.id>3 && if current_user && current_user.role &&  current_user.role.can_admin_roles %>
  <%= link_to 'Destroy', { :action => :destroy, :id => t.id }, :method => :delete, :confirm => 'Are you sure?' %>

  <% end %>
  </td>
  </tr>
<% end %>
  <% if current_user && current_user.role &&  current_user.role.can_admin_roles %>
<%=link_to "создать новую роль", :action => "new"%>
  <% end %>
</table>