// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<style media="screen,projection" type="text/css">
#content {
display:none;
background: #888444;
width: 500px;
}


</style>

